SIAT Degree Requirements (BA and BSc)
To graduate with a major in Interactive Arts and Technology (SIAT), students must complete a minimum of 120 units (credits) overall.
A critical requirement is that students must complete 44 upper division units (300 and 400-level courses) as part of their degree. 
Of these 44 upper division units, students must complete a minimum of 32 upper division IAT units.
Within those IAT units, students must complete at least eight upper division courses. 
Two specific courses are absolutely mandatory for all SIAT majors to graduate: IAT 309W (Writing Methods for Research) and at least two 400-level IAT courses of three units each, excluding directed studies. 
Students in the School of Interactive Arts and Technology are required to maintain a minimum 2.00 CGPA and 2.40 GPA in their IAT courses. Students who fall below this continuance requirement will be placed on academic warning in the School of Interactive Arts and Technology and will have two terms to bring their IAT GPA to a 2.4 or higher. Failure to do so will result in removal from the interactive arts and technology major or joint major program.